PLATFORM='iOS/android'

IOS_DEVICE_PLATFORM_VERSION=14.2
IOS_DEVICE_NAME=Elaine
IOS_DEVICE_APP=/Users/elaine/Downloads/xxx.ipa
IOS_XCODE_ORGID=xxxxxx


Android_DEVICE_PLATFORM_VERSION=9.0
Android_DEVICE_NAME=MI6
Android_DEVICE_APP=/Users/elaine/Downloads/xx.apk